<%- include('partials/header')%>
<h1 style="text-align:center; font-size:30px;">CSE-A B.E 2/4</h1><br><br>
<div  style="text-align:center;">
<table border="3" align="centre">
    <tr>
       <th>DAY</th>
       <th>1</th>
       <th>2</th>
       <th>3</th>
       <th>BREAK</th>
       <th>4</th>
       <th>5</th>
       <th>6</th>
    </tr>
    <tr>
       <td>MON</td>
       <td>dbms</td>

       <td colspan="2">FS</td>
       <td rowspan="6"><br>L<br><br>U<br><br>N<br><br>C<br><br>H<br></td>
       <td>wps</td>
       <td>ml</td>
       <td>efe</td>
       </tr>
       <tr>
       <td>TUE</td>
       <td>ml</td>
       <td colspan="2">html lab</td>
       <td>wps</td>
       <td>ml</td>
       <td>sports</td></tr>
       <tr>
       <td>WED</td>
       <td>cn</td>
       <td colspan="2">fs</td>
       <td>wps</td>
       <td colspan="2">wps lab</td></tr>
       <tr>
       <td>THUR</td>
       <td>oe</td>
       <td colspan="2">cn lab</td>
       <td>hvpe</td>
       <td colspan="2">fs lab</td></tr>
       <tr>
       <td>FRI</td>
       <td>oe</td>
       <td>wps</td>
       <td>ml</td>
       <td>dbms</td>
       <td colspan="2">mini lab</td>
       </tr>
       <tr>
       <td>SAT</td>
       <td>cn</td>
       <td colspan="2">cca</td>
       <td>wps</td>
       <td colspan="2">eca</td>
       </tr>
       </table>
</div>
<%- include('partials/footer')%>
