<%- include('partials/header') %>
<div class="hom">
    <div class="container">
        <button class="btn btn1"><a href="/login" >Add a Question</a> </button>
        <button class="btn btn2"> <a href="/placement">Placement details</a> </button><br><br>
        <button class="btn btn3"><a href="/day"> Question Of The Day</a> </button><br><br>
        <button class="btn btn4" ><a href="/news"> News </a></button>
    </div>
</div>

<%- include('partials/footer') %>
