
<%- include('partials/header')%>
<div class="w3-container">
  <h2>Placement Details!!</h2>
  <p>Get amaze with the number of students placed</p><br>
  <div class="w3-panel w3-card-4">
    <p>London is the most populous city in the United Kingdom,
    with a metropolitan area of over 9 million inhabitants.</p>
  </div>

<br>
  <div class="w3-panel w3-card-4">
    <p>2k16:Placement 138/144. With lots of good packages</p>
  </div>
<br>
  <div class="w3-panel w3-card-4">
    <p>2k17:Placement 132/144. With  most trusted staff recruitment in Hyderabad</p>
  </div><br>
  <div class="w3-panel w3-card-4">
    <p>2k18:Placement 140/144. With  best Job openings for freshers and Professionals in top MNC and Companies across India</p>
  </div>
<br>
  <div class="w3-panel w3-card-4">
    <p>2k17:Placement 126/144(on going). With humungous technically skilled companies across the place</p>
  </div>






</div>
<%- include('partials/footer')%>
